$fuente_principal : "Josefin Sans", sans-serif;
$fuente_secundaria : "Dosis", sans-serif;

// Colores
$rojoFuerte:#BF0B0B;
$rojoClaro: #CA0B0B;
$rojo: #F50B0B;
$amarilloFuerte: #EECA06;
$amarilloClaro: #F8E44B;
$amarillo: #fdda00;
$gris: #8C8987;
$grisOscuro: #404040;
$negroOscuro: #000000;
$negro: #262626;
$blanco: #FFFFFF;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;