@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$negro;
    color: v.$blanco;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
